body {
    text-align:center;
    background-image: url(https://cdn.wallpapersafari.com/5/52/IEA5y7.jpg);
}

.login_div1 , .login_div2
    {
        background: white;
        padding: 10px;
        float: none;
        border-radius: 15px;
        text-align:center;
        margin-left:540px;
        margin-top:50px;
        background-color:lightskyblue;
    }

    #log-in-button {
        margin-left:50px;
        margin-top:30px;
        background-image: url(https://wallpapercave.com/wp/wp6949096.jpg);
    }

    h1 {
        color:mediumspringgreen;
        font-weight:bolder;
        font-family:cursive;
    }

